#photosModalUploadForm div.image-upload label {
  display: none;
}

#photosModalUploadForm.form-inline div.image-upload .form-control {
  width: 400px;
}

.photo-images .photo-image.img-responsive {
  max-width: 185px; 
  max-height: 185px;
}

.photo-images .thumbnail {
  position: relative;
  width: 185px;
  height: 185px;
}

.photo-images .caption {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,0.7);
  padding-bottom: 5px;
  padding-top: 5px;
}

.photo-images .row {
  margin: 5px;
  display: inline-flex;
}

.photo-images .remove-image {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 15px;
  width: 30px;
  height: 30px;    
}
