{% load i18n %}
{% load static %}
{% load octicons %}

{# Modal #}

<div class="modal fade" id="photosModal" tabindex="-1" role="dialog" aria-labelledby="photosModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photosModalTitle">{% trans 'Photo gallery' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            {% for photo in photos %}
                <img src="/photos{{ MEDIA_URL }}{{ photo.image }}" style="max-width: 100px; max-height: 100px" title="{{forloop.counter}}.{{ photo.label }} [ {{img.upload_date}} ]" />
            {% endfor %}              
          </div>
        </div>
        <div class="modal-footer">
        <form action="/photos/upload/" method="post" id="photosModalUploadForm" enctype="multipart/form-data"  class="form-inline"> {% csrf_token %} 
          <div class="form-group mb-2 col-sm-5 image-upload image-upload-label">
            {{ photos_form.label }}
            <small id="image-label-help" class="form-text text-muted">Name by which you will reference this image in the Vector code.</small>
          </div>
          <div class="form-group mx-sm-3 mb-2 col-sm-5 image-upload image-upload-image">
            {{ photos_form.image }}
            <small id="image-file-help" class="form-text text-muted">Upload an image of ideally 23x12 ratio.</small>
          </div>
          <button type="button" class="btn btn-secondary sr-only" data-dismiss="modal">{% trans 'Close' %}</button>
          <button type="submit" class="btn btn-primary" aria-pressed="true" id='upload-btn'>{% trans 'Upload' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>