{% load i18n %}
{% load static %}
{% load octicons %}

{# Modal #}

<div class="modal fade" id="photosModal" tabindex="-1" role="dialog" aria-labelledby="photosModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form action="/photos/upload/" method="post" id="photosModalUploadForm" enctype="multipart/form-data"  class="form-inline"> {% csrf_token %} 
        <div class="modal-header">
          <h5 class="modal-title" id="photosModalTitle">{% trans 'Photo gallery' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            {% for photo in photos %}
                <img src="/photos{{ MEDIA_URL }}{{ photo.image }}" style="max-width: 100px; max-height: 100px" title="{{forloop.counter}}.{{ photo.label }} [ {{img.upload_date}} ]" />
            {% endfor %}              
          </div>
        </div>
        <div class="modal-footer">
          <!--
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
          
          
          -->

          {{ photos_form }}
          <button type="button" class="btn btn-secondary hidden" data-dismiss="modal">{% trans 'Close' %}</button>
          <button type="submit" class="btn btn-primary" aria-pressed="true" id='upload-btn'>{% trans 'Upload' %}</button>
        </div>
      </div>
    </form>
  </div>
</div>