{% load i18n %}
{% load static %}
{% load octicons %}
{% load timetags %}

{% for photo in photos %}
<div class="row box-image" id="box-image-{{forloop.counter}}">
    <div class="thumbnail text-center">
        <img src="/photos/thumbnail/{{ photo.photo_id }}" alt="{{ photo.timestamp_utc|print_timestamp }}" data-id="{{ photo.photo_id }}" title="{{forloop.counter}}.{{ photo.photo_id }} [ {{ photo.timestamp_utc|print_timestamp }} ]" class="photo-image img-responsive">
        <div class="caption">
            <p>{{ photo.timestamp_utc|print_timestamp }}</p>
        </div>
        <button type="button" class="photo-action" aria-label="{% trans 'Download' %}">
          <span aria-hidden="true"><span class="download">{% octicon "chevron-down" %}</span></span>
        </button>
    </div>
</div>
{% endfor %}
