{% load octicons %}

<ul class="navbar-nav mr-0">
  <li class="nav-item active">
    <a class="nav-link i-battery battery-unknown" href="#" 
       data-toggle="tooltip" data-placement="bottom" 
       data-original-title="Tooltip on bottom">
        {% octicon "battery-full" height="32" width="32" %}
        {% octicon "battery-half" height="32" width="32" %}
        {% octicon "battery-low" height="32" width="32" %}
        {% octicon "battery-empty" height="32" width="32" %}
        {% octicon "battery-charging" height="32" width="32" %}
        {% octicon "battery-unknown" height="32" width="32" %}
      </a>
  </li>
</ul>
