{% load i18n %}
{% load static %}
{% load octicons %}
<footer class="footer mt-auto py-2">
  <div class="container m-0">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="pull-right clickable panel-collapsed">{% octicon "chevron-up" %}</span>
        <span class="pull-right clickable panel-expanded">{% octicon "chevron-down" %}</span>
        <pre class="panel-title">Open up to get more details</pre>
        <span class="pull-left clickable panel-clear">{% octicon "trashcan" %}</span>
      </div>
    </div>
  </div>
</footer>

