{% load bootstrap4 %}
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Sebastian Kruk">
    <title>Vector RC2</title>

    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_css %}
    {% bootstrap_messages %}

    <style>
      #blocklyArea {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 35px;
        bottom: 40px; 
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
      }
    </style>

    <script src="{% static 'script/blockly/blockly_compressed.js' %}"></script>
    <script src="{% static 'script/blockly/blocks_compressed.js' %}"></script>
    <script src="{% static 'script/blockly/code.js' %}"></script>

    {% with 'script/blockly/msg/code/js/'|add:request.LANGUAGE_CODE|add:'.gif' as image_static %}
      {% static image_static %}
    {% endwith %}

    <script src="{% static 'script/blockly/msg/code/js/en.js' %}"></script>
    <script src="{% static 'script/blockly/msg/js/en.js' %}"></script>

    <link href="{% static 'style/sticky-footer-navbar.css' %}" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">

    {% include "webview/header.html" %}

    <main role="main" id="blocklyArea" class="flex-shrink-0">
      <div id="blocklyDiv" style="position: absolute"></div>
    </main>

    {% include "webview/toolbox.xml" %}

    {% include "webview/footer.html" %}

  </body>
</html>