<select id="languageMenu" class="mt-1 mt-md-0">
    <option value="ms">Bahasa Melayu</option>
    <option value="br">Brezhoneg</option>
    <option value="ca">Català</option>
    <option value="da">Dansk</option>
    <option value="de">Deutsch</option>
    <option value="et">Eesti</option>
    <option value="en">English</option>
    <option value="es">Español</option>
    <option value="fr">Français</option>
    <option value="hrx">Hunsrik</option>
    <option value="ia">Interlingua</option>
    <option value="it">Italiano</option>
    <option value="kab">Kabyle</option>
    <option value="oc">Lenga d'òc</option>
    <option value="hu">Magyar</option>
    <option value="nl">Nederlands, Vlaams</option>
    <option value="nb">Norsk Bokmål</option>
    <option value="pms">Piemontèis</option>
    <option value="pl">Polski</option>
    <option value="pt-br">Português Brasileiro</option>
    <option value="ro">Română</option>
    <option value="sc">Sardu</option>
    <option value="sk">Slovenčina</option>
    <option value="sv">Svenska</option>
    <option value="be-tarask">Taraškievica</option>
    <option value="vi">Tiếng Việt</option>
    <option value="tr">Türkçe</option>
    <option value="tlh">tlhIngan Hol</option>
    <option value="is">Íslenska</option>
    <option value="cs">Česky</option>
    <option value="el">Ελληνικά</option>
    <option value="mk">Македонски</option>
    <option value="ru">Русский</option>
    <option value="sr">Српски</option>
    <option value="uk">Українська</option>
    <option value="he">עברית</option>
    <option value="ar">العربية</option>
    <option value="fa">فارسی</option>
    <option value="ta">தமிழ்</option>
    <option value="th">ภาษาไทย</option>
    <option value="ja">日本語</option>
    <option value="zh-hant">正體中文</option>
    <option value="zh-hans">简体中文</option>
    <option value="ko">한국어</option>
</select>