{% load i18n %}
{% load static %}
{% load octicons %}

<aside role="code" id="sourceCode" class="flex-shrink-0 d-none d-lg-block">
  <div class="nav-item dropdown a-options-sourcecode a-option-selected-javascript d-none d-lg-block">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% trans 'Source code: ' %}<span class="nav-label label-javascript">{% trans 'JavaScript' %}</span><span class="nav-label label-python">{% trans 'Python' %}</span><span class="nav-label label-xml">{% trans 'XML' %}</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a id="option_javascript" class="dropdown-item a-option-javascript" href="#content_javascript" data-toggle="collapse" aria-expanded="true" aria-controls="content_javascript">{% trans 'JavaScript' %} {% octicon "check" %}</span></a>
      <a id="option_python" class="dropdown-item a-option-python" href="#content_python" data-toggle="collapse" aria-expanded="true" aria-controls="content_python">{% trans 'Python' %} {% octicon "check" %}</a>
      <a id="option_xml" class="dropdown-item a-option-xml" href="#content_xml" data-toggle="collapse" aria-expanded="true" aria-controls="content_xml">{% trans 'XML' %} {% octicon "check" %}</a>
    </div>
  </div>

  <div id="content_javascript" class="content collapse show" aria-labelledby="option_javascript" data-parent="#sourceCode">
    <pre class="m-2 p-2 prettyprint linenums lang-js source" id="source_javascript"></pre>
  </div>
  <div id="content_python" class="content collapse" aria-labelledby="option_python" data-parent="#sourceCode">
    <pre class="m-2 p-2 prettyprint linenums lang-py source" id="source_python"></pre>
  </div>
  <div id="content_xml" class="content collapse" aria-labelledby="option_xml" data-parent="#sourceCode">
    <pre class="m-2 p-2 prettyprint linenums lang-xml source" id="source_xml"></pre>
  </div>
</aside>    
