<aside role="code" id="sourceCode" class="flex-shrink-0 d-none d-lg-block">
  <div id="content_javascript" class="content collapse show" aria-labelledby="option_javascript" data-parent="#sourceCode">
    <h5 class="p-2">JavaScript source:</h5>
    <pre class="m-2 p-2 prettyprint source" id="source_javascript">
function JavaScript() {}
    </pre>
  </div>
  <div id="content_python" class="content collapse" aria-labelledby="option_python" data-parent="#sourceCode">
    <h5 class="p-2">Python source:</h5>
    <pre class="m-2 p-2 prettyprint source" id="source_python">
def python:
pass
    </pre>
  </div>
  <div id="content_xml" class="content collapse" aria-labelledby="option_xml" data-parent="#sourceCode">
    <h5 class="p-2">XML source:</h5>
    <textarea wrap="off" class="m-2 p-2 prettyprint source" id="source_xml">
<xml xmlns="http://www.w3.org/1999/xhtml">
</xml>
    </textarea>
  </div>
</aside>    
