<aside role="code" id="sourceCode" class="flex-shrink-0 d-none d-lg-block">
  <div id="content_javascript" class="p-2 content collapse show" aria-labelledby="option_javascript" data-parent="#sourceCode">
    <h3>JavaScript source:</h3>
    <pre>
function JavaScript() {}
    </pre>
  </div>
  <div id="content_python" class="p-2 content collapse" aria-labelledby="option_python" data-parent="#sourceCode">
    <h3>Python source:</h3>
    <pre>
def python:
pass
    </pre>
  <div id="content_xml" class="p-2 content collapse" aria-labelledby="option_xml" data-parent="#sourceCode">
    <h3>XML source:</h3>
    <textarea wrap="off">
<xml xmlns="http://www.w3.org/1999/xhtml">
</xml>
    </textarea>
  </div>
</aside>    
