#imagesModalUploadForm div.image-upload label {
  display: none;
}

#imagesModalUploadForm.form-inline div.image-upload .form-control {
  width: 400px;
}

#imagesModal .modal-body {
  overflow-y: auto;
  height: calc(100vh - 300px);
  box-sizing: border-box;  
  max-height: 1380px;
}

.photo-images .photo-image.img-responsive {
  max-width: 260px; 
  max-height: 136px;
}

.photo-images .thumbnail {
  position: relative;
  width: 260px;
  height: 136px;
  border: solid 0.5px #ddd;
}

.photo-images .caption {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,0.7);
  padding-bottom: 5px;
  padding-top: 5px;
}

.photo-images .caption p {
  margin-bottom: 5px;
}

.photo-images .row {
  margin: 5px;
  display: inline-flex;
  vertical-align: top;
}

.photo-images .photo-action {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border-color: black;
}

.photo-images .photo-action:hover {
  background-color: black;
}

.photo-images .photo-action .download .octicon {
  fill: white;  
  margin-top: 2px;
}

#imagesModal:not(.choose) .photo-images .photo-action .download,
#imagesModal.choose .photo-images .photo-action .times {
  display: none;
}

.blocklyWorkspace .blocklyDraggable image {
  cursor: alias;
}
