.blocklyTreeRoot > div[role] > div[role=treeitem] > div > span,
button.dropdown-item {
  cursor: pointer;
}

.nav-item.disabled > a {
  cursor: default;
}

nav .navbar-brand img {
  height: 44px;
}

#blocklyArea {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 70px;
  bottom: 40px; 
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#sourceCode {
  position: fixed;
  right: 0px;
  top: 70px;
  bottom: 40px; 
  max-width: 50vw;
  min-width: 300px;
  width: 30vw;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background: white;
}

#navbarCollapse > form.form-inline {
  position: relative;
  top: 8px;
}

#sourceCode .dropdown.a-options-sourcecode.a-option-selected-python .dropdown-item:not(.a-option-python) .octicon-check,
#sourceCode .dropdown.a-options-sourcecode.a-option-selected-javascript .dropdown-item:not(.a-option-javascript) .octicon-check,
#sourceCode .dropdown.a-options-sourcecode.a-option-selected-xml .dropdown-item:not(.a-option-xml) .octicon-check,
#sourceCode .dropdown.a-options-sourcecode.a-option-selected-python #navbarDropdown span:not(.label-python),
#sourceCode .dropdown.a-options-sourcecode.a-option-selected-javascript #navbarDropdown span:not(.label-javascript),
#sourceCode .dropdown.a-options-sourcecode.a-option-selected-xml #navbarDropdown span:not(.label-xml) {
  display: none;
}

#sourceCode .content h5 {
  background-color: black;
  color: white;
}

#sourceCode .content .source {
  width: calc(100% - 1rem);
  height: calc(100vh - 3.5rem - 110px);  
}
#sourceCode .content textarea.source {
  height: calc(100% - 4rem);  
}

#sourceCode .nav-item .dropdown-toggle,
#sourceCode .nav-item .dropdown-item,
#sourceCode .nav-item .nav-label {
  color: black;
}
#sourceCode .dropdown.a-options-sourcecode.a-option-selected-python .dropdown-item.a-option-python,
#sourceCode .dropdown.a-options-sourcecode.a-option-selected-javascript .dropdown-item.a-option-javascript,
#sourceCode .dropdown.a-options-sourcecode.a-option-selected-xml .dropdown-item.a-option-xml,
#sourceCode .nav-item .nav-label {
  font-weight: 700;
} */

pre code {
  overflow: auto;
  display: block;
  line-height: 1.6em;
  white-space: pre;
  word-wrap: normal;
  /*max-height: 600px;*/
}

.nav-item.active .octicon {
  fill: white;  
}
.nav-item.disabled .octicon {
  fill: gray;  
}
.octicon {
  vertical-align: text-bottom;
}
.nav-item.active .nav-link.a-button-test .octicon-flame,
.nav-item.disabled .nav-link.a-button-test .octicon-beaker {
  display: none;
}
